node_modules
.turbo
.expo
ios
android
.omo
dist
storybook-static
coverage
npm-debug.log*
.env
.env.local

# e2e maestro
apps/chattea-mobile/maestro/output/

# lighthouse reports
apps/chattea-web/.lighthouse/
